server:
  port: 3366

spring:
  application:
    name: config-client
  cloud:
    config:
      label: master  #分支名称
      name: config  #配置文件名称
      profile: dev  #读取后缀名称   上述三个综合http://localhost:3344/master/config-dev.yml
      uri: http://localhost:3344  #配置中心的地址

eureka:
  client:
    service-url:
      defaultZone: http://www.eureka7001.com:7001/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"

